h1, h2 {
	text-align: center;
	margin-bottom: 20px;
}

.sottotitolo {
	font-size: large;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
  
img {
	width: 20em;
	width: 20em;
}
  
#informazioni {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}
  
#flex-container-sx {
	margin-right: 2em;
}
  
#flex-container-dx {
	display: flex;
	flex-direction: column;
}
  
#flex-container-dx a, #research-content a {
	text-decoration: none;
	font-size: 1.2em;
}
  
/* hover = cursore sopra */
#flex-container-dx a:hover, #research a:hover {
	background-color: beige;
}
  
/* visited = colore link se già visitato */
#flex-container-dx a:visited, #research a:visited {
	color: #1975D1;
}

/* sotto al div "informazioni" */
#research {
	display: flex;
	justify-content: space-around;
	justify-content: center;
	align-items: center;
	height: auto;
}

#research-content {
	display: flex;
	flex-direction: column;
}

/* caratteristiche elementi lista del div in questione */
#research-content ul li, .didattica-content ul li { 
	margin: 0 20px 20px 0; 
}

#didattica {
	height: auto;
}

#didattica-content {
	margin-bottom: 3em;
}

body {
	background-color: rgba(181, 250, 182, 0.668);
	font-family: Helvetica;
}


